/* body {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(30, 54, 59, 1) 0%,
    rgba(93, 93, 116, 1) 100%
  );
}

.container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.container > form {
  width: 30%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}
pre {
  width: 70%;
  color: #fff;
  font-size: larger;
}

button {
  background: #037f3d;
  border-radius: 5px;
} */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #eee;
    font-family: "Roboto",sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.sign-up{
    background-color: #fff;
    max-width:30rem;
    margin:2rem auto;
    padding: 2rem;
}
h1{
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}
.input-group{
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
input{
    padding: 0.5rem;
    border:1px solid gray;
    font-size:1rem;
    font-family: inherit;
}
button{
    padding: 0.5rem;
    background-color: tomato;
    border:none;
    font-size:1.2rem;
    color:white;
}

.errorMsg{
  color:red;
}